<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>Title</title>
</head>
<body>
<div class="container">
  <form th:method="PATCH" th:action="@{/admin/user/{id}(id=${user.id})}" th:object="${user}">
    <h2>Edit user</h2>
    <div class="mb-3">
      <label for="username" class="form-label">Введите имя:</label>
      <input type="text" th:field="*{username}" class="form-control" id="username"/>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Введите пароль:</label>
      <input type="password" th:field="*{password}" class="form-control" id="password" required/>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Введите email: </label>
      <input type="text" th:field="*{email}" class="form-control" id="email"/>
    </div>
    <div class="mb-3 row align-items-center">
      <label class="col-4 col-form-label text-center">Roles: </label>
      <div class="col-8">
        <div th:each="role: ${listRoles}" class="form-check form-check-inline m-2">
          <input type="checkbox" th:field="*{roles}"
                 th:text="${role.name}" th:value="${role.id}" class="form-check-input"/>
          <label class="form-check-label" th:text="${role.name}"></label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Редактировать</button>
  </form>
  <br/>
  <div class="button-container">
    <form th:action="@{/logout}" method="post">
      <button type="submit" class="btn btn-secondary">Logout</button>
    </form>
  </div>
</div>


</body>
</html>