<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">

</head>
<body>

<div class="container">
    <h2>Create New User</h2>
    <hr>
    <form th:method="POST" th:action="@{/admin/user}" th:object="${user}">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" th:field="*{username}" class="form-control" id="username"/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" th:field="*{password}" class="form-control" id="password"/>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" th:field="*{email}" class="form-control" id="email"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Roles:</label>
            <div class="form-check">
                <th:block th:each="role: ${listRoles}">
                    <input type="checkbox"
                           th:text="${role.name}" th:value="${role.id}" name="roles" class="form-check-input"/>
                </th:block>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <div class="add-user-link">
        <h1><a href="/logout">Logout</a></h1>
    </div>
</div>


</body>
</html>