<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Пример Spring Security</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <h1 class="mb-4">Детали пользователя</h1>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>User_Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${user}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <span th:each="role: ${user.roles}" th:text="${role.name}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-secondary">Logout</button>
    </form>
</div>
</body>

</html>
